{% assign cloudinary = "https://res.cloudinary.com/limbernie/image/upload/" %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type" : "Blog",
	"description": "{{ description }}",
	"name": "{{ title }}",
	"keywords": {{ site.keywords | jsonify }},
	"url": "{{ site.url }}",
	"creator": {
		"@type": "Person",
		"name" : "{{ site.owner.name }}",
		"sameAs": [
			"https://keybase.io/{{ site.owner.keybase }}",
			"https://twitter.com/{{ site.owner.twitter }}",
			"https://github.com/{{ site.owner.github }}",
			"https://www.reddit.com/u/{{ site.owner.reddit }}"
		]
	},
    "image" : "{{ cloudinary | append: 'f_auto,q_auto' }}/img/{{ site.owner.logo }}"
}
</script>
