<!-- page loading time -->
<script>
/* shamelessly lifted from http://timkadlec.com */
window.onload = function(){
  setTimeout(function(){
    window.performance = window.performance || window.mozPerformance || window.msPerformance || window.webkitPerformance || {};
    var t = performance.timing || {};

    if (!t) return;
    var start = t.navigationStart, end = t.loadEventEnd;
    var loadTime = (end - start) / 1000;
    var loaded = document.querySelector('.loaded');
    loaded.innerHTML += "<p>This page loaded in <strong>" + loadTime + "</strong> seconds.</p>";
  }, 0); 
}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async></script>
<script type="text/javascript" src="{{ site.url }}/js/main.min.js" async></script>
{% if page.id %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js" async></script>
{% endif %}
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
;c.parentNode.insertBefore(a,c)
})(window,document,"galite","script","https://cdnjs.cloudflare.com/ajax/libs/ga-lite/2.0.1/ga-lite.min.js");

galite('create', '{{ site.owner.google.analytics }}', 'auto');
galite('send', 'pageview');
</script>
{% endif %}
