{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}
<div class="sidebar">
<div class="container sidebar-sticky">
<div class="cover-card">
  {% if author.logo %}
  <img src="{{ site.url }}/img/{{ author.logo }}" alt="logo.png" class="logo">
  {% endif %}
  <div class="noavatar">
  <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
  <span class="author_job">{{ author.job }}</span>
  <span class="author_bio mbm">{{ site.title | append: ' | ' | append: site.short }}</span>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/">home</a>
        <span>/</span>
      </li>
      {% for page in site.pages %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a>
        {% unless forloop.last %}
          <span>/</span>
        {% endunless %}
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  {% include social-links.html %}
  </div>
</div>
</div>
</div>
