.cover-card {
  color: $text-color;
  padding: 1rem; // 0 30px;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: $primary; // #F36170;
    font-size: 1.75em;
    text-transform: lowercase;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 90%;
    display: block;
  }
  @include media-query($medium-screen) {
    margin: 0 auto;
    padding: 0;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    //*display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 90%;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}

/* Customizations */

.back-to-top {
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 8;
	width: 3em;
	height: 3rem;
	display: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.back-to-top i {
	font-size: 2rem;
}

.external {
	border-bottom: solid 2px;
	&:hover { text-decoration: none !important; }
}

/* Pagination */
/*
.pagination {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	grid-column:1 / -1;
	margin:2em 0;
	width:100%
}

.pagination ul {
	margin:0 auto;
	padding:0;
	list-style-type:none
}

.pagination li {
	display:block;
	float:left;
	margin-left:-1px
}

.pagination li a {
	display:block;
	margin-bottom:0.25em;
	padding:0.5em 1em;
	color: $primary;
	font-size: 0.9em;
	font-weight:bold;
	line-height:1.5;
	text-align:center;
	text-decoration:none;
	border: 1px solid lighten($text-color, 45%);
	border-radius:0
}

.pagination li a.current,.pagination li a.current.disabled {
	background-color: $text-color;
	color:#fff
}

.pagination li a.disabled {
	color: lighten($text-color, 70%);
	pointer-events:none;
	cursor:not-allowed
}

.pagination li:first-child {
	margin-left:0
}

.pagination li:first-child a {
	border-top-left-radius:.25rem;
	border-bottom-left-radius:.25rem
}

.pagination li:last-child a {
	border-top-right-radius:.25rem;
	border-bottom-right-radius:.25rem
}
*/

/* Postination */
.postination {
	display: block;
	width: auto;
	overflow: hidden;
	margin: 20px 0;
	clear: both;
}
        
.postination a {
	display: block;
	width: 50%;
	float: left;
	margin: 1em 0;
}
                
.postination .next {
	float: right;
	text-align: right;
}

.menu {
	cursor: pointer;
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding-left: 0.3em;
	font-size: 1.25em;
	z-index: 30;
	visibility: hidden;
	width: 2rem;
	height: 2rem;
	@media (min-width: 768px) {
		visibility: visible;
	}
}

.overlay {
	visibility: hidden;
	@media (min-width: 768px) {
		visibility: visible;
	}
}

footer {
	display: table;
	margin: 0 auto;
}

.credit, .copyright {
	&::after {
		content: "";
	}
}

.credit {
	display: table-header-group;
}

.copyright {
	display: table-footer-group;
}

@media (min-width: 360px) {
	.credit, .copyright {
		display: inline-block;
		&::after {
			content: ".";
			margin-right: 0.2rem;
		}
	}
}

.anchor {
	position: relative;
	top: 1.75em;
}

#search-container {
	background-color: #fff;
	height: 2.75rem;
	vertical-align: top;
	border-radius: 2px;
	box-shadow: 0.5px 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
	transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow: hidden;
	padding: 5px 10px 0;
	&:focus-within, &:hover {
		box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	}
}

#search-input {
	border: medium none;
	padding: 0px;
	margin: 0px;
	width: 100%;
	background: transparent url("data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D") repeat scroll 0% 0%;
	outline: medium none;
	color: #000;
	line-height: 2.125rem;
	height: 2.125rem !important;
}

#results-div {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
	border: none;
	background: #fff;
	cursor: default;
}

#results-container {
	list-style-type: none;
	margin: 0;
	padding: 0;
	li {
		padding: 0 10px;
		line-height: 1.375rem;
		a { font-weight: normal !important; }
	}
}

/* Lists */
.post-content {
	ol, ul {
		padding: 0;
		margin-left: 1.0rem;
		li {
			padding-left: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}

/* Post Meta-data */
.post-meta ul {
		list-style: none;
		margin: 0;
		padding: 0;
}

.post-meta ul li {
	display: block;
	padding-right: 0.5rem;
	@media (min-width: 320px) {
		display: inline-block;
  }
}

.post-meta ul li {
	.post-author, .post-date, .read-time {
		padding-left: 0.25rem;
	}
}

