.cover-card {
  color: $text-color;
  padding: 1rem; // 0 30px;
  .avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: none;
  }
  .author_name {
    display: block;
    color: $primary; // #F36170;
    font-size: 1.75em;
    text-transform: lowercase;
  }
  .author_job {
    display: block;
    color: $secondary;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    margin: -5px auto 10px;
  }
  .author_bio {
    font-size: 90%;
    display: block;
  }
  @include media-query($medium-screen) {
    text-align: left;
    margin: 0 auto;
    padding: 0; // 0 0px 80px;
  }
}
.social-links {
  margin-top: 0.5em;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 1em;
      a.social-link-item {
        color: $secondary;
        &:hover,
        &:focus {
          color: lighten($secondary, 14%);
        }
      }
    }
  }
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  .nav-item {
    display: inline-block;
    //*display: inline;
    zoom: 1;
    & a {
      margin-top: 1em;
      text-transform: lowercase;
      font-size: 90%;
      color: $secondary;
      &:hover,
      &:focus {
        color: lighten($secondary, 14%);
      }
    }
  }
}

/* Customizations */

.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 234;
	width: 3em;
	height: 3rem;
	display: none;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}

.back-to-top i {
	font-size: 2rem;
}

.external {
	border-bottom: solid 2px;
	&:hover { text-decoration: none !important; }
}

/* Pagination */
.pagination {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	grid-column:1 / -1;
	margin:2em 0;
	width:100%
}

.pagination ul {
	margin:0 auto;
	padding:0;
	list-style-type:none
}

.pagination li {
	display:block;
	float:left;
	margin-left:-1px
}

.pagination li a {
	display:block;
	margin-bottom:0.25em;
	padding:0.5em 1em;
	color: $primary;
	font-size: 0.9em;
	font-weight:bold;
	line-height:1.5;
	text-align:center;
	text-decoration:none;
	border: 1px solid lighten($text-color, 45%);
	border-radius:0
}

.pagination li a.current,.pagination li a.current.disabled {
	background-color: $text-color;
	color:#fff
}

.pagination li a.disabled {
	color: lighten($text-color, 70%);
	pointer-events:none;
	cursor:not-allowed
}

.pagination li:first-child {
	margin-left:0
}

.pagination li:first-child a {
	border-top-left-radius:.25rem;
	border-bottom-left-radius:.25rem
}

.pagination li:last-child a {
	border-top-right-radius:.25rem;
	border-bottom-right-radius:.25rem
}

/* Postination */
.postination {
	display: block;
	width: auto;
	overflow: hidden;
	margin: 20px 0;
	clear: both;
}
        
.postination a {
	display: block;
	width: 50%;
	float: left;
	margin: 1em 0;
}
                
.postination .next {
	float: right;
	text-align: right;
}

.menu {
	cursor: pointer;
	position: fixed;
	top: 0;
	right: 0;
	padding-right: 0.45em;
	font-size: 1.25em;
	z-index: 30;
	@media (max-width: 47em) {
		display: none;
	}
}

@media (max-width: 47em) {
	.overlay {
		visibility: hidden !important;
	}
}

.credit, .copyright {
	display: inline-block;
	&:after {
		content: ". ";
	}
}

@media (max-width: 20em) {
	footer {
		display: table;
		margin: 0 auto;
	}
	.credit, .copyright {
		&:after {
			content: "";
		}
	}
	.credit {
		display: table-header-group;
	}
	.copyright {
		display: table-footer-group;
	}
}
