/**
  * Grid
*/

.row {
  max-width: 100%;
}

.row:after {
  clear: both;
}

.column {
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}

.content {
  margin-left: 30%;
  width: 70%;
  @media screen and (max-width: 600px) {
    margin-left: 0;
  }
}
