/**
  * Grid
*/

.row {
  max-width: 100%;
}

.row:after {
  clear: both;
}

.column {
  float: left;
  @media screen and (max-width: 600px) {
	width: 100%;
  }
}

.sidebar {
  width: 30%;
}

.content {
  width: 70%;
}
