.sidebar {
  text-align: center;
  padding: 1rem;
  color: rgba(255,255,255,.5);
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .sidebar {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18.5rem;
    z-index: 10;
    display: none;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }
}

@media (min-width: 768px) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.content {
  padding: 1rem;
}

@media (min-width: 768px) {
  .content {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (orientation: landscape) {
	.sidebar { height: 100vh }
	.cover-card > * { display: inline-block }
}
